:root{
	--grisTopo: #262626;
	--naranja: rgb(255, 141, 48);
	--blanco: #ffffff;
	--grisClaro: #b7b7b7; 

}

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;

}

body {


    font-family: 'Raleway', sans-serif;




}

h1{

	text-align: center;
	color: var(--naranja);
	text-shadow: 4px 2px 3px var(--grisTopo);



}

/* * * * * * * * * * * * * * *-* *BOTONERA LISTA*-* * * * * * * * * * * * * * * * */

.botonera{

    z-index: 1;
    /*position: fixed;*/
    width: 100%;

	
	display: flex;
	flex-direction:row-reverse;
	align-items: center;

	flex-wrap: wrap;


	background-color: var(--grisTopo);
	color: var(--blanco);
	
}



.botonera-lista{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	max-width: 100%;
	padding:0 45px 0 45px;

}

.botonera-lista:hover{
    background-color: var(--naranja);
    color: var(--grisTopo);
     
}


.botonera-lista_item{
	
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-basis: 54px;

	text-decoration: none;
	
	


}


.botonera-lista a{

	display:flex;
	color: var(--blanco);
	margin: 15px ;



	align-items: center;
	justify-content: center;
	text-decoration: none;

}

/* * * * * * * * * * * * * * * *-* *Seccion slider*-* * * * * * * * * * * * * * * * */


.seccion-slider{

    display: flex;
    clear: both;

    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
   
    min-width: 100vw;
    min-height: 100vh;
    

    justify-content: center;

    align-items: center;
   
    height: 400px;
    
    flex-direction: column;



    
}

.slider-isotipo{
max-width: 15%;

}


.seccion-slider div{
    
  
    display: flex;



}

/* * * * * * * * * * * * * * * *-* *Seccion servicios*-* * * * * * * * * * * * * * * * */



/*Parte sprite*/

@keyframes super{
	to{
		background-position-x: -633px;
	}
}
.sprite1{

	max-width: 350px;
	height: 292px;
	
	background-image: url("../images/steps1.png");
	
	animation-name: super;
	animation-duration: 01s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	

	
	

	
}


/*Parte escrita*/
.seccion-servicios{

display: flex;
flex-direction: column;
justify-content: center;



}

.seccion-servicios-in{
flex-grow: 1;
flex-wrap: wrap;
flex-direction: column;



padding: auto;

}


.in-der{
text-align: left;
background-color: var(--grisClaro);



} 





.in-der_info{
	background-color:red;
	width: 50%;
	
	align-content: center;
	
	
	float:right;
}

/* * * * * * * * * * * * * * * *-* *Seccion equipo*-* * * * * * * * * * * * * * * * */
.equipo-contactar{

	display: flex;
	/*background-color: red;*/
}

.equipo-ind{

	background-color: blue;
	margin: 10px 10px;
	flex-wrap: wrap;
	
}
/* * * * * * * * * * * * * * * *-* *Seccion consulta*-* * * * * * * * * * * * * * * * */

.seccion-consultas{

	display: flex;
	flex-wrap: wrap;

}